services:
  database:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=scraper_user
      - POSTGRES_PASSWORD=scraper_password
      - POSTGRES_DB=scraper_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U scraper_user -d scraper_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    container_name: migrate
    volumes:
      - ./database/migrations:/migrations
    command:
      [
        "-path", "/migrations",
        "-database", "postgres://scraper_user:scraper_password@database:5432/scraper_db?sslmode=disable",
        "up"
      ]
    depends_on:
      database:
        condition: service_healthy

  server:
    build:
      context: .
      dockerfile: server/Dockerfile
      args:
        DATABASE_URL: postgresql://user:pass@localhost:5432/db
    container_name: server
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql://scraper_user:scraper_password@database:5432/scraper_db
      - NODE_ENV=production
    ports:
      - "3000:3000"
    depends_on:
      migrate:
        condition: service_completed_successfully
    develop:
      watch:
        - action: rebuild
          path: ./server
          ignore:
            - ./server/node_modules/
            - ./server/.next/
        - action: rebuild
          path: ./database/prisma

  scraper:
    build:
      context: ./scraper
      dockerfile: Dockerfile
    container_name: scraper
    restart: "no"
    environment:
      - TZ=Europe/Athens
      - DATABASE_URL=postgresql://scraper_user:scraper_password@database:5432/scraper_db
    depends_on:
      server:
        condition: service_started
    develop:
      watch:
        - action: rebuild
          path: ./scraper
          ignore:
            - scraper/dist/
        
  web:
    build:
      context: ./web
    container_name: web
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - server
    develop:
      watch:
        - action: rebuild
          path: ./web
          ignore:
            - web/node_modules/
            - web/dist/

volumes:
  pgdata:
